version: '3.8'

services:
  backend:
    build: ./backend
    container_name: zabbix-map-backend
    restart: unless-stopped
    ports:
      - "23001:3000"
    environment:
      - ZABBIX_API_URL=https://172.17.17.53/zabbix/
      - ZABBIX_AUTH_TOKEN=0663e9206b9242cac6d47c5b752b57e0cc43b2bdffeaf7d06b5aa90c069722fd
      - SERVER_IP=172.17.17.10
      - NODE_ENV=production
    networks:
      - zabbix-network

  frontend:
    build: ./frontend
    container_name: zabbix-map-frontend
    restart: unless-stopped
    ports:
      - "23000:80"
    networks:
      - zabbix-network

networks:
  zabbix-network:
    driver: bridge
