version: '3.8'

services:
  backend:
    build: ./backend
    container_name: zabbix-map-backend
    restart: unless-stopped
    ports:
      - "23001:3000"
    env_file:
      - .env
    networks:
      - zabbix-network

  frontend:
    build: ./frontend
    container_name: zabbix-map-frontend
    restart: unless-stopped
    ports:
      - "23000:80"
    networks:
      - zabbix-network

networks:
  zabbix-network:
    driver: bridge
